# --- env ---
DJANGO_ENV=dev

# --- Django ---
SECRET_KEY=your-super-secret-key-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# --- Database ---
DB_NAME=myproject_db
DB_USER=postgres
DB_PASSWORD=your_strong_password
DB_HOST=db
DB_PORT=5432
DB_HOST_PORT=5433
