asgiref==3.10.0
black==25.9.0
cfgv==3.4.0
click==8.3.0
distlib==0.4.0
Django==5.2.7
filelock==3.20.0
gunicorn==23.0.0
identify==2.6.15
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
pre_commit==4.3.0
psycopg2-binary==2.9.11
python-decouple==3.8
pytokens==0.2.0
PyYAML==6.0.3
ruff==0.14.3
sqlparse==0.5.3
virtualenv==20.35.4
